body {
    background-color: bisque;
    font-family: Arial, sans-serif;
}

#nav {
    background-color: lightskyblue;
    text-align: center;
}

#nav li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    padding: 10px;
    position: relative;
}

#nav li:hover {
    color: darkorchid;
    background-color: aqua;
}

li a {
    color: whitesmoke;
    text-decoration: none;
}

.controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.controls input, .controls select {
    margin: 0 10px;
    padding: 5px;
}

#pokemon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.pokemon-card {
    background-color: lightskyblue;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 150px;
    position: relative;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

.pokemon-card h3 {
    margin: 10px 0;
}

.pokemon-card button {
    background-color: burlywood;
    border: none;
    border-radius: 5px;
    color: whitesmoke;
    cursor: pointer;
    padding: 5px 10px;
}

.pokemon-card button:hover {
    background-color: skyblue;
}

.pokemon-card .checkmark {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: green;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
